{% extends "myblogapp/base.html%}

{% block title%}Login In {% endblock %}

{%block content%}
<div class="jumbotron">
    <h2>Please Login:</h2>
    <h3>(Must be SuperUser, please check your status</h3>
    {% if form.errors %}
    <p>Your Username or Password didnot match. Please check your detail</p>
    {% endif %}

    <form action="{% url 'login' %}">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class="btn btn-primary" value="" Login>
        <input type="hidden" name="next" value="{{next}}">
    </form>

</div>
{% endblock %}