{% extends "myblogapp/base.html" %}
{% block title %}Home Page {% endblock %}

{% block content %}
<div>
    <h1>this is home page</h1>

    {% for post in post_pub %}
    <div class="post">

        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}

</div>
{% endblock %}